[submodule "api"]
	path = api
	url = ssh://git-codecommit.us-east-1.amazonaws.com/v1/repos/api
[submodule "portal-professor"]
	path = api
	url = ssh://git-codecommit.us-east-1.amazonaws.com/v1/repos/portal-professor
[submodule "portal-aluno"]
	path = api
	url = ssh://git-codecommit.us-east-1.amazonaws.com/v1/repos/portal-aluno
